<div>
    <p-menubar [model]="items"></p-menubar>
</div>

<p-table #dt [value]="buckets" dataKey="id" styleClass="p-datatable-buckets" [rowHover]="true" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['id','name','representative.name','status']">
    <ng-template pTemplate="caption">
        <div class="table-header">
            Список корзин
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">
                <div class="p-d-flex p-jc-between p-ai-center">
                    ID
                    <p-sortIcon field="id"></p-sortIcon>
                    <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="name">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Name
                    <p-sortIcon field="name"></p-sortIcon>
                    <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="ip">
                <div class="p-d-flex p-jc-between p-ai-center">
                    IP
                    <p-sortIcon field="ip"></p-sortIcon>
                    <p-columnFilter type="text" field="ip" display="menu" class="p-ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="status">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Status
                    <p-sortIcon field="status"></p-sortIcon>
                    <p-columnFilter field="status" matchMode="equals" display="menu" class="p-ml-auto">
                    </p-columnFilter>
                </div>
            </th>
            <th style="width: 8rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bucket>
        <tr>
            <td>
                <span class="p-column-title"></span>
                {{bucket.id}}
            </td>
            <td>
                <span class="p-column-title"></span>
                <span class="image-text">{{bucket.name}}</span>
            </td>
            <td>
                <span class="p-column-title"></span>
                <span class="image-text">{{bucket.ip}}</span>
            </td>
            <td>
                <span class="p-column-title"></span>
                <span>
                    <p-badge severity="{{bucket.status ? 'success' : 'danger'}}" [value]="bucket.status ? 'OK' : 'ERROR'"></p-badge>
                </span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">Корзин не найдено.</td>
        </tr>
    </ng-template>
</p-table>